.App {
  text-align: center;
  margin-top: 50px;
}

.btn {
  background-color: blue;
  margin: 5px;
  border-radius: 3px;
  padding: 8px 20px;
  border-style: none;
  color: white;
  font-size: 15px bolder;
}

.search, .input {
  background-color: rgb(233, 229, 229);
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}

.search {
  margin-right: 20px;
  margin-left: 5px;
}

.input {
  margin-left: 5px;
}